body {
    margin: 0;
    padding: 0;
}

.table-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    display: grid;
    justify-items: center;
    align-items: center;
}

.cells-container {
    height: 300px;
    width: 300px;
    padding: 50px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
}

.cell {

    border: 1px solid black;
}

.mark-x {
    background: url(img/cross.png) center no-repeat;
}

.mark-o {
    background: url(img/zero.png) center no-repeat;
}